body {
    margin:0;
    font-family: "JetBrains Mono", sans-serif;
    background-color: #252933;
    color: white;
}

header {
    height: 50px;
    background-color: #282c33;
    color: #888888;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
}

.intro > img {
    border-radius: 50%;
    margin-left: 50px;
}

.intro .intro-text {
    /*text-align: center;*/
}

.intro-text > p {
    font-weight: lighter;
}

.intro-skills {
    display: flex;
    justify-content: space-evenly;
}

.nav-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-list > li {
    padding: 0 5px;
}

.logo {
    font-size: 1.1rem;
  background: linear-gradient(45deg, #007EFF, #FE2857);
  -webkit-background-clip: text;   /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text itself transparent */
}


nav {
    display:flex;
    height: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    align-items: center;

}

nav > div {
    float:left
}
